
---




#PYTHON LAB ASSIGNMENTS



---


### NAME: SHUBHAM TAKANKHAR
###ROLL NO: 54
###MCA SY

Write a program that asks the user to enter a length in centimeters. If the user enters a negative length, the program should tell the user that the entry is invalid. Otherwise, the program should convert the length to inches and print out the result. There are 2.54 centimeters in an inch.( Use ‘if-else’ statement. )

In [ ]:
length = int(input("Enter length in CM:"))
if length>0:
  print("{:.2f} inch".format(length/2.54))
else:
  print("Enter correct value")

Enter length in CM:6
2.36 inch

Write a program that asks the user for two numbers and prints ‘Numbers are Close’ if the numbers are within 0.001 of each other and ‘Numbers are not close’ otherwise.

In [ ]:
num1=float(input("num1:"))
num2=float(input("num2:"))

diff=num1-num2

if diff<0.001:
  print("Close")
else:
  print("Not Close")

num1:2
num2:2.001
Close

Given three integers, determine how many of them are equal to each other. The program must print one of these numbers: 3 (if all are the same), 2 (if two of them are equal to each other and the third is different) or 0 (if all numbers are different)

In [ ]:
num1=int(input("num1:"))
num2=int(input("num2:"))
num3=int(input("num3:"))

if num1==num2==num3:
  print("3")
elif num1==num2 or num3 == num2 or num3==num1:
  print("2")
else:
  print("1")
print(" INTEGERS ARE EQUAL")

num1:1
num2:2
num3:1
2
 INTEGERS ARE EQUAL

Write a program to print factorial of a  number using while loop

In [ ]:
#FACTORIAL
num = int(input())
i=1
fact=1
while i<=num:
  fact*=i
  i+=1
print(fact)

6
720

WAP to find the sum of the digit of a given number.(while loop)

In [ ]:
#SUM_OF_DIFITS
num = input()

i=0
sums=0

while i < len(num):
  sums += int(num[i])
  i+=1

print(sums)

124
7

WAP for a table of 5 using for loop

In [ ]:

for i in range(1,11):
  print("5 x {} = {} ".format(i,5*i))

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

WAP to print even number between 20 to 40 using for loop

In [ ]:
for i in range(20,41,2):
    print(i)

20
22
24
26
28
30
32
34
36
38
40

WAP to print pyramid like pattern using for loop

In [ ]:
for i in range(1,6):
  print(" "*(i-6)+"*"*(i))

*
**
***
****
*****

WAP to print capital letters from A to Z using for loop

In [ ]:
for i in range(65,91):
  ch=chr(i)
  print(ch)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

WAP using break statement to print first three letters in “string”

In [ ]:
for i in "string":
  if i=='i':
    break
  print(i)

s
t
r